@page "/tables"
@using BlazorWebAssemblySampleApp.ViewModels
@using System.Threading
@using CreativeCoders.Core.Collections

<h3>Tables</h3>

<DataTable ItemsSource="Items">
    <HeaderTemplate>
        <th>IntValue</th>
        <th>Text</th>
    </HeaderTemplate>
    <ItemTemplate>
        <td style="background: blue">@context.IntValue</td>
        <td>@context.Text</td>
    </ItemTemplate>
</DataTable>

<Button Clicked="ButtonClicked">Add items</Button>

@code {
    private Timer _timer;

    // ReSharper disable MemberCanBePrivate.Global
    public ExtendedObservableCollection<TestViewModel> Items { get; } = new()
    {
        new TestViewModel {IntValue = 1, Text = "First Element"},
        new TestViewModel {IntValue = 2, Text = "Second Element"},
        new TestViewModel {IntValue = 4, Text = "Forth Element"},
        new TestViewModel {IntValue = 8, Text = "Eight Element"}
    };

    public void ButtonClicked()
    {
        _timer ??= new Timer(_ =>
            Items.Add(
                new TestViewModel
                {
                    IntValue = Environment.TickCount,
                    Text = Environment.TickCount.ToString()
                }));

        _timer.Change(1000, 1000);
    }
    // ReSharper restore MemberCanBePrivate.Global
}
