@page "/icons"
@using CreativeCoders.AspNetCore.Blazor.Components.Base

<h3>Icons</h3>

<Iconify Id="@ControlIdHelper.NewId()" Icon="mdi:shield-remove-outline" Width="128px" Height="128px" Color="red" Rotation="270"></Iconify>

@code {

}
